* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: black;
  --mainGrey: #ecececad;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}
body {
  padding-top: 90px;
  text-align: center;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.6em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
  letter-spacing: -1px;
}
h4.thick {
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
}
h5 {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}
h5.thick {
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.7em;
  letter-spacing: -1px;
}
h6.thick {
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
}

::placeholder {
  color: white;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
.hidden {
  display: none;
}
.center {
  justify-content: center;
}
/* end of globals */
/* start of navbar */
#navbar {
  text-align: left;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0rem;
  z-index: 1;
  max-height: 75px;
  transition-duration: 0.5s;
}

.navbar-absolute {
  position: absolute;
  background-color: black;
  top: 1;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  z-index: -1;
}
.nav-logo {
  margin-top: 7px;
  height: 18px;
  position: absolute;
}
#navlogotohide {
  text-align: left;
  float: left;
  display: none;
}
.nav-logo2 {
  height: 20px;
  display: flex;
  position: absolute;
  margin-top: 8px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-button {
  text-align: left;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-button :hover {
  color:#0dbe98;
}

.nav-icon {
  text-align: left;
  font-size: 1.7rem;
  color: var(--mainGrey);
}
.nav-login {
  float: right;
  text-align: right;
}
.nav-links {
  /* height: 0;
    overflow: hidden; */
  display: flex;
  transition: var(--mainTransition);
  list-style-type: none;
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainWhite);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0px;
  margin: 0 0.5rem;
  padding: 0rem 0;
  padding-top: 0.5rem;
}
.nav-links a:hover {
  color: var(--mainWhite);
  text-decoration: underline;
}
.nav-sign {
  /* height: 0;
    overflow: hidden; */
  display: flex;
  transition: var(--mainTransition);
  list-style-type: none;
}

.nav-sign a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainWhite);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0px;
  margin: 0 0.5rem;
  padding: 0rem 0;
  padding-top: 0.5rem;
}
.nav-sign a:hover {
  color: #0cbd8c;
  text-decoration: none;
}
.nav-center {
  max-width: 140px;
  margin: 0px auto;
  display: flex;
}


/* end of navbar */

/* Start of Img  */
.img-full img {
  width: 100%;
}
/* end of img */

/* Start of Column */
.column {
  column-gap: 100px;
  float: left;
  padding: 10px;
  position: relative;
}

/* End of Column */
/* Start of CoronoVirus Part */
.coronavirus-links {
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  font-family: sans-serif;
}

.coronavirus-links a {
  display: block;
  text-decoration: none;
  color: var(--mainBlack);
  transition: var(--mainTransition);
}
.coronavirus-links a:hover {
  color: var(--mainBlack);
  text-decoration: underline;
}
/* End of CoronoVirus Part */
/* Start of Cards */
.card {
  max-width: 100%;
  margin: auto;
  text-align: left;
}

.cardtitle {
  text-align: left;
  color: grey;
  font-size: 18px;
}
.cardcontainer {
  padding: 2px 16px;
}

/* End of Cards */

/* start of page settings */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}

/* end of page settings */
/* Start of footer */
.footer {
  position: flex;
  justify-content: left;
  bottom: 0;
  width: 100%;
  padding-top: 3em;

  background-color: black;
  color: white;
  text-align: center;
  float: left;
}

#footer-column {
  display: grid;
  grid-gap: 3px;
}

.footer-links {
  justify-content: left;
  transition: var(--mainTransition);
  list-style-type: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}

.footer-links a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 0;
  color: var(--mainWhite);
  transition: var(--mainTransition);
  text-align: left;
}
.footer-links a:hover {
  color: #0cbd8c;
  text-decoration: none;
}
.footer-sublinks {
  text-align: center;
  transition: var(--mainTransition);
  list-style-type: none;
  
  font-weight: 550;
  letter-spacing: 0px;
}

.footer-sublinks a {
  display: block;
  text-decoration: none;
  padding: 0.3rem 0;
  color: var(--mainGrey);
  transition: var(--mainTransition);
  text-align: left;
}
.footer-sublinks a:hover {
  color: #076e58;
  text-decoration: none;
}
#footer-logo {
  display: flex;
  justify-content: left;
  text-align: left;
}
.footer-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 0px) {
  .footer-container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .footer-container {
    width: 1200px;
  }
}
.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }
.item7 {grid-area : item7;}
/* End of footer */
/* Start of footer2 */
.footer2 {
  padding-top: 3em;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  float: left;
}
.footer2-text {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  padding: 0.5rem 0;
  color: var(--mainGrey);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0px;
}
.footer2-text2 {
  list-style-type: none;
  text-decoration: none;
  padding: 0.5rem 0;
  color: var(--mainGrey);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0px;
}


/* End of footer2 */
/* start of First new */
.firstnew-links {
  padding-right: 40px;
  padding-left: 40px;
  justify-content: center;
  transition: var(--mainTransition);
  list-style-type: none;
}

.firstnew-links a {
  display: block;
  text-decoration: none;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-decoration: underline;
  text-decoration-color: black;
}
.firstnew-links a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: #0dbe98;
  transition-duration: 0s;
}
/* end of first new */
/* start of Responsive design */
/* Start of container */
.container {
  min-height: calc(100vh - 82px);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* End of container */
@media only screen and (min-width: 100px) {
  /* For cellphones: */
  .right {padding-left: 0px;}
  .hide {display: none;}
  .lifebox {column-count: 1;}
  .bottompart {column-count: 1;}
  .lifebox2 {height: fit-content;}
  .container {width: 100%;}
  .padding30px2 {padding-bottom: 30px;}
  h4.ıtspersonalmain {padding-left: 100px; padding-right: 100px;}
}

@media only screen and (min-width: 780px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .hide {display: none;}
  .lifebox2 {height: 420px;}
  .lifebox {column-count: 2;}
  .bottompart {column-count: 4;}
  .container {width: 770px;}
  .padding30px2 {padding-bottom: 0px;}
   h4.ıtspersonalmain {padding-left: 100px; padding-right: 100px;}
  .input-icon-search {bottom: 9px}
  .input-icon-cancel {bottom: 9px}
}
@media only screen and (min-width: 1000px) {
  /* For desktop: */
  .right {padding-left: 56px;}
  .right1 {width: 35%;}
  .left1 {width: 65%;}
  .hide {display: flex;}
  .container {width: 100%;}
  .lifebox2 {height: 420px;}
  .lifebox {column-count: 2;}
  .bottompart {column-count: 4;}
  .padding30px2 {padding-bottom: 0px;}
  h4.ıtspersonalmain {padding-left: 100px; padding-right: 100px;}
  .input-icon-search {bottom: 35px}
  .input-icon-cancel {bottom: 35px}
}
@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .hide {display: flex;}
  .container {width: 1170px !important;}
  .videos {width: 1188px;}
  .lifebox2 {height: 420px;}
  .lifebox {column-count: 2;}
  .bottompart {column-count: 4;}
  .padding30px2 {padding-bottom: 0px;}
  h4.ıtspersonalmain {padding-left: 410px; padding-right: 410px;}
}
@media only screen and (min-width: 1310px) {
.personal {width: 1310px;}
}
/* end of Responsive design */
/* TextArea start*/
textarea {
  padding: 10px;
}
/* TextArea end */

/* LatestNews start */

.latestnews {
  display: grid;
  grid-template-columns: 30.5% 30.5% 30.5%;
  grid-gap: 30px;
  text-align: left;
  float: left;
  padding-bottom: 10px;
}

.latestnewsheader {
  transition: var(--mainTransition);
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  font-family: sans-serif;
  color: black;
}

.latestphonebox {
  display: grid;
  grid-template-columns: 143px auto;
  grid-gap: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}

.latestphone-img {
  height: 82px;
  width: 143px;
  float: left;
}

.latestphonecategory {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #333333;
  margin-bottom: 5px;
  text-align: left;
}
.latestphonecategory a {
  text-decoration: none;
  color: #333333;
  transition: var(--mainTransition);
}

.latestphone-text {
  transition: var(--mainTransition);
  text-align: left;
  font-size: 0.9rem;
}

/* LatestNews end */
/* /news/  start*/
.news-img {
  height: 107px;
  width: 186px;
  float: left;
}
.news-p {
  display: flex;
  transition: var(--mainTransition);
  text-align: left;
  padding-left: 20px;
  font-size: normal;
}
.news-text {
  display: flex;
  transition: var(--mainTransition);
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  padding-left: 20px;
}

.newsbox {
  padding-top: 20px;
  padding-bottom: 120px;
  max-height: 100px;
  margin-bottom: 10px;
}
/* /news/ end */

/* whatshappening start */
.whatshappeningbox {
  margin-top: 20px;
  padding-bottom: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}
.left-image {
  height: 92px;
  width: 92px;
  float: left;
}

.right-text {
  display: flex;
  transition: var(--mainTransition);
  text-align: left;
  padding-left: 20px;
  width: 65%;
  font-size: 0.9rem;
}

/* whatshappening end */
/* Featured start */
.featuredbox {
  padding: 10px;
}
.featured {
  height: fit-content;
  column-gap: 30px;
  margin-bottom: 20px;
}
.featured2{
  height: fit-content;
  display: grid;
  grid-template-columns: 47.8% 47.8%;
  grid-gap: 30px;
  text-align: center;
  float: left;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h3.featuredtext {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
}
p.featuredtext {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  padding-bottom: 10px;
}
/* Featured end */
/* Load More Button start */
.load-more-button {
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
  border-radius: 20px;
}
.load-more-button-border {
  background-color: white;
  color: black;
  border: 1px solid black;
}
/* Load More Button end */
/* Its personal start */
.personal {
  margin-right: auto;
  margin-left: auto;
}
.personal-container {
  position: relative;
  width: 100%;
  justify-content: left;
  bottom: 0;
  padding-top: 3em;
  padding-bottom: 1em;
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: center;
  float: left;
}
h1.ıtspersonalheader {
  font-family: "Alfa Slab One";
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
}
h4.ıtspersonalmain {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
}
.personalbox {
  padding-top: 30px;
  padding-bottom: 120px;
  max-height: 250px;
  margin-bottom: 10px;
  text-align: left;
}
.personalimagebox {
  max-height: 200px;
  max-width: 355px;
}
.personalcategory {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #333333;
  margin-top: 5px;
  margin-bottom: 5px;
}
.personalcategory a {
  text-decoration: none;
  color: #333333;
  transition: var(--mainTransition);
}

.personalheader {
  font-size: 28px;
  line-height: 30px;
  color: black;
  font-weight: 700;
  font-style: normal;
  font-family: sans-serif;
  margin-bottom: 5px;
}
.personalmain {
  color: black;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: sans-serif;
}
/* Its personal end */
/* Landing page bottom 4 image part start*/
.bottompartbox {
  margin-top: 60px;
  margin-bottom: 40px;
}
.bottompart {
  display: grid;
  grid-template-columns: 21.9% 21.9% 21.9% 21.9%;
  grid-gap: 30px;
  margin-bottom: 10px;
  text-align: left;
  float: left;
  padding-bottom: 20px;
}
.bottompartheader {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: black;
  font-style: normal;
  font-family: sans-serif;
}
/* Landing page bottom 4 image part end*/

/* Life start */
.montserrat {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 24px;
  color: #171d67;
  text-shadow: 2px 2px #f711c0;
  padding-top: 60px;
}
.lifebox {
  column-gap: 30px;
}
.lifebox2 {
  background-color: #e7fcff;
}
.lifeheader {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: black;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 18px;
}
.lifemain {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}
.lifecategory {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #0d0eca;
  padding-top: 15px;
  letter-spacing: 1.2px;
}
.lifecategory a {
  text-decoration: none;
  color: #0d0eca;
  transition: var(--mainTransition);
}
.padding30px {
  padding-bottom: 30px;
}

/* Life End */
/* Videos start */
.videos {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.videos-container {
  position: relative;
  justify-content: left;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 1em;
  background-color: #1a1a1a;
  color: #ffffff;
  /* text-align: center; */
  float: left;
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.video-cancel-button.none {
  display: none;
}
.video-cancel-button.stuck {
  display: fixed;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 2;
  position: fixed;
  bottom: 210px;
  left: 388px;
}
.video-cancel-icon {
  font-size: 1.5rem;
  color: black;
  border-radius: 50%;
  background-color: white;
}

.video-wrap {
  text-align: left;
  padding-left: 50px;
}

.video iframe {
  max-width: 100%;
  max-height: 100%;
}

.video.stuck {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 400px;
  height: 225px;
  transform: translateY(100%);
  animation: fade-in-up 0.5s ease forwards;
}

/* Videos end */
/* Row start*/
.row2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
}
/* Row end */
/* Search box start */
.searchbox {
  margin-bottom: 5px;
}
.searchinput {
  background-color: #282828;
  font-size: 14px;
  color: white;
  font-style: "normal";
  font-family: sans-serif;
  font-weight: 400;
  height: 25px;
  border-radius: 10px;
  padding-left: 40px;
  width: 230px;
}

.input-icon-search {
  position: absolute;
  left: 75px;
  margin: auto;
  color: white;
  font-size: 1.5em;
}

.input-icon-cancel {
  position: absolute;
  left: 273px;
  margin: auto;
  color: white;

  font-size: 1.5em;
  border-radius: 100%;
  background-color: transparent;
}

/* Search box end */
/* Sign box start*/
.signcard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 365px;
  margin: auto;
  text-align: center;
}
/* Full-width input fields */
.sign-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Add a background color when the inputs get focus */
.sign-input:focus {
  background-color: #ddd;
  outline: none;
}
/* Sign box end */
/* Side Navbar start */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
  text-align: left;
  transition-duration: 0.5s;
}

.sidenav a{
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.sidenav li{
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav li:hover {
  color: #ffffff;
  text-decoration: underline;
}
.sidenav-header{
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  padding-top: 20px;
}

.sidenav-main{
  column-count: 2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
}


.sidenav .closebtn {
  position: absolute;
  padding-left: 20px;
  top: 0;
  left: 0px;
  font-size: 36px;
  color: #ffffff;

}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#mySidenav {
  width: 0px;
  
}
#marginLeft{
  margin-left: 0px;
  transition-duration: 0.5s;
}


/* Sidenavbar end */
